@charset "utf-8";

/* CSS Document por Catalán S*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,900italic,100,100italic,300,300italic,400italic,500italic,700italic);
body {
  font-family: 'Roboto', sans-serif;
  background: #f1f1f1;
  background-image: url("../imagenes/anahuac-fondo-footer.jpg");
}
header{
    background-color: rgba(232, 232, 232, 0.42);
}
h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}
.logo-areas h3 {
  font-size: 16.86pt;
  color: #7c4300;
  text-align: center;
}

div#block-logo img {
  max-width: 100%;
}
.row.margin20 {
  margin: 14px 0 0;
}

.col-lg-3.col-sm-3.idiomas-der {
  width: 33%;
}

.navbar-default .navbar-nav>li>a, .navbar-nav-black>li>a {
  padding: 5px 18px;
}

.navbar-nav>li {
  float: none !important;
  display: inline-block;
  text-align: center;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle {
  border: 2px solid transparent;
}

nav#block-secondarymenu .navbar-nav {
  background: black;
}

.navbar-default {
  background-color: white;
}

.second-nav-bar {
  background-color: white;
}

.navbar-nav {
  background: #ff8300;
}

.navbar-yellow {
  margin-bottom: 0;
  border: 0;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #fff;
}

.columns-left-nav ul.nav.navbar-nav li {
  display: block;
}

.navbar-nav>li {
  float: none;
  display: inline-block;
}

.dropdown-menu {
  background-color: #ff8300;
}

@-moz-document url-prefix() {
  .navbar-default .navbar-nav>li>a, .navbar-nav-black>li>a {
    font-size: 0.85em!important;
  }
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.navbar-nav li ul {
  display: none;
}

.navbar-default {
  background-color: #ff8300;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #7b430c;
  background-color: transparent;
}

.navbar-nav>li>a {
  padding: 12px 20px;
  color: #FFF;
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a, .navbar-nav-black>li>a {
  padding: 15px 22px;
  color: #FFF;
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
}

.navbar-nav-black>li>a:hover, .navbar-nav-black>li>a:focus, .navbar-nav-black>li>a.active {
  text-decoration: none;
  background-color: transparent;
}


.second-nav-bar .container {
  max-width: 100%;
  margin: 0 auto;
}

#block-mainnavigation>ul>li:nth-child(1) {
  display: none;
}


}
.second-nav-bar .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.9)
}
ul.dropdown-menu li a {
  color: white;
}
.second-nav-bar {
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFF;
  z-index: inherit !important;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: black;
  color: #dcdcdc;
}
@media (max-width: 1200px) {
  .carousel-inner .col-lg-3 {
    width: 100%;
  }
}
@media (max-width: 999px) {



  .col-lg-6.col-sm-6.frase-arriba {
    width: 33%;
  }

  .col-lg-3.col-sm-3.idiomas-der {
    width: 33%;
  }

  .col-lg-3.col-sm-3.log-izq {
    width: 33%;
  }

  .col-sm-3 {
    width: 100%;
  }

  .navbar-default .navbar-nav>li>a, .navbar-nav-black>li>a {
    padding: 5px 18px;
  }

  .navbar-nav>li {
    float: none !important;
    display: inline-block;
    text-align: center;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-toggle {
    border: 2px solid transparent;
  }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
  .navbar-yellow .container {
    padding: 0;
  }

  .col-lg-6.col-sm-6.frase-arriba {
    width: 60%;
  }

  nav.navbar.navbar-default.navbar-static-top.navbar-yellow {
    position: relative!important;
    top: 0!important;
    right: 0!important;
    width: 100%!important;
    background: transparent!important;
    max-width: 100%!important;
    right: 0!important;
  }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 425px) {

  .header-top-left-nav-sub {
    top: 93px!important;
  }

  nav#block-secondarymenu .navbar-nav {
    background: black;
  }
  .navBlackEncima{
    z-index: 999!important; 
  }

  nav.navbar.second-nav-bar.navbar-static-top.navbar-yellow {
    position: fixed;
    
    top: 232px;
    width: 100%;
    display: block;
    max-width: 340px;
    right: 0;
  }

  nav.navbar.navbar-default.navbar-static-top.navbar-yellow {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: transparent;
    max-width: 340px;
    right: 0;
  }

  .navbar-nav .open .dropdown-menu>li>a {
    background: #333333;
  }

  button.navbar-toggle {
    background: #ff8300;
  }

  .navbar-default {
    background-color: white;
  }

  .second-nav-bar {
    background-color: white;
  }

  .navbar-nav {
    background: #ff8300;
    
  }

  .second-nav-bar {
    background-color: transparent;
  }

  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 20px;
    text-align: center;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    text-align: center;
    background: #ff9700;
  }

  .second-nav-bar .navbar-header {
    display: none;
  }

  .col-lg-3.col-sm-3.log-izq {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
  }

  .col-lg-6.col-sm-6.frase-arriba {
    width: 100%;
  }

  .col-lg-3.col-sm-3.idiomas-der {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .navbar-nav>li {
    display: block;
  }

  .dropdown-menu>li>a {
    text-align: left;
  }
}
@media screen and (max-width: 640px) {
  .dropdown-menu {
    box-shadow: 0 0 5px #888;
  }
}
