/**
 * @file por Catalán
 * Clases de utilidad para ocultar elementos en diferentes formas.
 */

/**
 * Ocultar elementos de todos los usuarios.
 *
 * Se utiliza para elementos que no se deben mostrar de inmediato a cualquier usuario.
 * Un ejemplo sería detalles plegables que se ampliarán con un clic
 * El efecto de esta clase se puede alternar con el jQuery show()
 * y hide() functions.
 */
.hidden {
  display: none;
}

/**
 * Ocultar elementos visualmente, pero mantenerlos disponibles para los lectores de pantalla.
 *
 * Se utiliza para obtener información necesaria para que los lectores de pantalla
 * uedan comprender y utilizar el sitio donde la visualización visual es indeseable.
 * La información proporcionada de esta manera debe mantenerse concisa, para evitar una carga innecesaria para el usuario.
 * "!important" Se utiliza para evitar anulaciones involuntarias.
 */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

/**
 * La clase .focusable extiende la clase .visually-hidden para permitir
 * El elemento que se puede enfocar cuando se navega a través del teclado.
 */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
}

/**
 * Ocultar visualmente y de los lectores de pantalla, pero mantener el diseño.
 */
.invisible {
  visibility: hidden;
}
