#svg {
			width: 900px;
			height: 900px;
		}
#myCanvas{
     width: 900px;
     height: 900px;
     position: relative;
     top: -10rem;
     float: right;
   }

.ocultar{
	visibility:hidden;
}

.mapa{
	display: block;
}


/* .row div{
	border-color:#ffffff;
	border-width: 1px;
	border-spacing: 0;
	border-style: solid;
}  */
.volar{
	display:block;
	position:fixed;
	background-color:black;
	padding:5px;
	color:white;
	font-weight:bold;
	box-shadow: 0px 0px 7px #888888;
	border-radius: 25px;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
}
@media (max-width: 1430px) {
	#myCanvas {
    width: 900px;
    height: 900px;
    position: relative;
    top: 0;
    float: none;
}
}