/*Document CSS por Catalán*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,900italic,100,100italic,300,300italic,400italic,500italic,700italic);
.footer {
  background-image: url("http://www.anahuac.mx/mexico/sites/default/files/inline-images/anahuac-fondo-footer.jpg");
  background-size: cover;
  padding-top: 25px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff3e7;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h4.nombre-section {
  visibility: hidden;
  margin: 0;
}

.footer-col h4 {
  color: #000;
  font-size: 15px;
}

.footer-col h4 {
  color: #000;
  font-size: 15px;
}

hr.yellow-line {
  margin: 0px auto 0 auto;
  border-bottom: 4px solid #ff8300;
}

footer strong a {
  color: #6d6d6d;
}

footer strong a:hover {
  color: #666;
}

.footer-col {
  color: #9d9d9d;
}

.footer-col h4 {
  color: #000;
  font-size: 15px;
}

div#block-footercopyright h3 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 3px;
}

.social-icons {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 1px;
  position: relative;
  top: -10px;
}

.social-icons ul {
  padding: 0;
  margin: 0;
}

.social-icons ul li {
  float: left;
  text-decoration: none;
  list-style-type: none;
  padding-right: 5px;
}

.social-icons ul li i {
  background: #373736;
  border-radius: 100%;
  color: #fff;
}

.social-icons ul li i {
  background: #373736 none repeat scroll 0 0;
  border-radius: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  padding: 9px 10px;
}

.bottom-footer {
  color: #9d9d9d;
  text-align: center;
  font-size: 9pt;
}

div#block-footercopyright h3 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 3px;
}

.bg-gray h3 {
  font-size: 13pt;
  text-align: center;
  margin-bottom: 7px;
}

div#block-footercopyright strong {
  font-size: 11px;
  font-weight: 400;
  color: black;
}

.logos-footer img {
  display: inline-block;
  max-width: 70px;
  margin: 0 8px;
}

.logos-footer {
  margin: 0 auto;
  float: none;
  max-width: 600px;
}

.logos-footer br {
  display: none;
}

div#block-footerlogo {
  border-right: 1px solid;
  min-height: 160px;
  height: auto;
}

div#block-footerlogo img {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}

div#block-footerlogo img {
  max-width: 280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: block;
}

.bodre-right {
  border-right: 1px solid #535353;
  line-height: 20px;
  padding-right: 15px;
}

div#block-campusnorthe p {
  font-size: 12px;
  margin-bottom: 0;
}

div#block-campussur p {
  font-size: 12px;
  margin-bottom: 0;
}

@media (max-width: 999px) {
  footer .col-md-8.col-sm-4 {
    width: 100%;
  }
  footer .col-md-4.col-sm-4 {
    width: 100%;
    text-align: center;
  }
  footer .col-md-4.col-sm-4.bodre-right.bodre-left.footer-col {
    width: 100%;
    text-align: center;
    border-right: none;
  }
  footer .col-md-8.col-sm-4 {
    width: 100%;
  }
  footer .col-md-8.col-sm-8 {
    width: 100%;
  }
  .col-lg-4.col-sm-4.home-middle-left {
    padding: 0 1% 10%;
    width: 33.33%;
    float: left;
  }
  .col-lg-4.col-sm-4.home-middle-right {
    padding: 0 1% 10%;
    float: left;
    width: 33.33%;
  }
  div#block-footerlogo {
    border-right: none;
    min-height: 160px;
    height: auto;
  }
  .social-icons {
    display: block!important;
    padding-top: 5px;
    padding-bottom: 1px;
    position: relative;
    margin: 0 auto!important;
    top: 0!important;
    max-width: 140px!important;
  }
  .social-icons {
    top: 0px;
  }
  div#block-campussur {
    text-align: center;
  }
  .event-area-border.col-lg-12.col-sm-12 img {
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  .col-lg-4.col-sm-4.home-middle-left {
    padding: 0 1% 10%;
    float: none;
    margin: 0 auto;
    width: 80%;
  }
  .col-lg-4.col-sm-4.home-middle-center {
    padding: 20px 1% 0;
    float: left;
    margin: 0 auto;
    width: 100%;
  }
  .notice-page .container {
    max-width: 420px;
    margin: 0 auto;
  }
  div#block-footerlogo {
    border-right: none;
    min-height: 100%;
    height: auto;
  }
  .banner-area.col-lg-12.col-sm-12 {
    margin-bottom: 20px;
  }
  .bodre-right {
    border-right: none;
  }
  div#block-footerlogo img {
    max-width: 100%;
    width: 480px;
    margin: 0px auto 40px;
    padding: 0 10%;
    text-align: center;
    display: block;
  }
}
